*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: black;
    text-align: center;
    padding: 10px;
}

ul li{
    display: inline;
}
ul a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}
.navigation a:hover{
    background-color: white;
    color: black;
}
.form{
    margin: 30px;
}
.form input{
    border: 2px dashed red;
}
.form input:focus{
    border: none;
    background-color: blue;
}
.navigation ul li:nth-child(even){
    background-color: blue;
}
#pseudo-elements p::before{
    content: "Note: ";
    font-weight: bold;
    text-transform: uppercase;

}
#pseudo-elements p::after{
    content: " (End of Note)";
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

}